venv/
.venv/
__pycache__/
*.pyc
data/intermediate/
data/output/
*.mp4
*.wav
.env
.ipynb_checkpoints/
.DS_Store
*.log
debug_p5/
temp/
/tmp/video_summarizer*
/models/
results/
results_test/
    x
node_modules/
libs/
frontend/node_modules/
frontend/dist/
data/intermediate_OLD_*
data/*_backup_*
results_backup_*
